<br>
<footer id="footer">
    <div class="row align-items-center">
        <div class="col-xl-1 col-md-12 col-sm-12 text-center">
            <img id="logo-footer" src="/assets/logo_blanc.png" alt="Mr. Coffee logo in white color">
        </div>
        <div class="col-xl-11 col-md-12 col-sm-12 text-center">
            <div class="row">
                <div class="col text-center"> 
                    ©2021 - All rights reserved.</div> 
            </div>
            <div class="row text-center">
                <div class="col">
                <a href="#"><img class="logo-social" src="/assets/logo_linkedin.png" alt="White Linkedin logo"></a>
                <a href="#"><img class="logo-social" src="/assets/logo_twitter.png" alt="White Linkedin logo"></a>
                <a href="#"><img class="logo-social" src="/assets/logo_facebook.png" alt="White Linkedin logo"></a>
                </div>
            </div>
        </div>
    </div>
</footer>