<% if (schedules.length != 0) { %>
    <h2>Schedule List</h2>
    <table id = "scheduleList">
        <tr>
          <th>User Name</th>
          <th>Day</th>
          <th>Start at</th>
          <th>End at</th>
        </tr>
        <% schedules.forEach((schedule)=>{%>
        <tr>
          <td><a href="/user/<%= schedule.user_id %>"><%= schedule.user_name %></a></td>
          <% switch (schedule.day) {
            case 1: %>
            <td>Monday</td>
          <% break;
            case 2: %>
            <td>Tuesday</td>
          <% break;
            case 3: %>
            <td>Wednesday</td>
            <% break;
            case 4: %>
            <td>Thursday</td>
            <% break;
            case 5: %>
            <td>Friday</td>
          <% break;
          case 6: %>
            <td>Saturday</td>
          <% break;
          case 7: %>
            <td>Sunday</td>
          <% break;
            default:
            break; } %>
          <td><%= schedule.start_at %></td>
          <td><%= schedule.end_at %></td>
        </tr>
        <% }) %> 
      </table>
      <% } else { %>
      <h2>There is no schedule</h2>
      <% } %>