<h2>Schedule Management</h2>
<h3>Create new schedule</h3>
<form action="/schedules" method="POST">
    <label for="day">Day</label><br />
          <select name="day" id="day">
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
            <option value="7">Sunday</option>
          </select><br />
    <div>
        <label for="startTime">Start Time</label><br>
        <input type="time" id="startTime" name="startTime" min="09:00" max="18:00" required><br>
        <label for="endTime">End Time</label><br>
        <input type="time" id="endTime" name="endTime" min="09:00" max="18:00" required>
    </div>
    <button type="submit">Add New Schedule</button>
    <h3>Current schedule</h3>
    <% if (schedules.length != 0) { %>
        <table id = "scheduleList">
            <tr>
              <th>Day</th>
              <th>Start at</th>
              <th>End at</th>
            </tr>
            <% schedules.forEach((schedule)=>{%>
            <tr>
              <% switch (schedule.day) {
                case 1: %>
                <td>Monday</td>
              <% break;
                case 2: %>
                <td>Tuesday</td>
              <% break;
                case 3: %>
                <td>Wednesday</td>
                <% break;
                case 4: %>
                <td>Thursday</td>
                <% break;
                case 5: %>
                <td>Friday</td>
              <% break;
              case 6: %>
                <td>Saturday</td>
              <% break;
              case 7: %>
                <td>Sunday</td>
              <% break;
                default:
                break; } %>
              <td><%= schedule.start_at %></td>
              <td><%= schedule.end_at %></td>
            </tr>
            <% }) %> 
          </table>
          <% } else { %>
          <h2>There is no schedule</h2>
          <% } %>
  </form>