<div class="success-msg" id="signupMsg">
  <i class="fa fa-check"></i>
</div>
<form action="/signup" method="POST">
    <label for="fname">First Name</label><br />
    <input
      type="text"
      id="fname"
      name="fname"
      value=""
      required
    /><br />
    <label for="sname">Last Name</label><br />
    <input
      type="text"
      id="sname"
      name="sname"
      value=""
      required
    /><br />
    <label for="email">Email</label><br />
    <input
      type="text"
      id="email"
      name="email"
      value=""
      required
    /><br />
    <label for="password">Password</label><br />
    <input
      type="password"
      id="password"
      name="password"
      value=""
      required
    /><br />
    <label for="confirmPassword">Confirm Password</label><br />
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      value=""
      required
    /><br />
    <div>
      <button type="submit" id="submitBtn">
        Create Account
      </button>
    </div>
  </form>
  <script src="/js/signup.js"></script>